<div class="w-full mt-3">
  <div
    class="grid xl:grid-cols-4 lg:grid-cols-4 md:gird-cols-2 grid-cols-1 gap-4"
  >
    @for(cardData of userServices.intialCardsValue; track $index) {
    <app-info-card
      [data]="cardData"
      [index]="$index"
      (deleteAction)="removeInfoCard($index)"
      (settingAction)="openDrawer($index)"
    ></app-info-card>
    }

    @if(!isView){

      <div
        class="border border-dashed flex flex-col items-center justify-between p-2 rounded-[6px] shadow-sm gap-2 py-3"
        (click)="addNewInfoCard()"
      >
        <img class="block h-[40px]" src="/images/add-widget.svg" />
        <h6 class="text-[14px] font-bold text-[--color-gray-250]">
          Card settings
        </h6>
      </div>
    }
  </div>
</div>

<p-drawer
  [(visible)]="visible"
  header=""
  [position]="translateService.lang() == 'ar' ? 'right' : 'left'"
  [closeOnEscape]="false"
  [closable]="false"
  styleClass="!w-full md:!w-80 lg:!w-[30rem] "
  [showCloseIcon]="false"
  [closable]="false"
  [dismissible]="false"

>
<div class="flex flex-col justify-between h-[100%] gap-5   w-full">
  <div class=" drawer-header">
    <div class="h-[260px]">

      <h5 class="text-[16px] font-bold text-[--color-blue-700] p-3 text-white"   >Card settings</h5>
    </div>
  </div>
  <div class="mx-3">
    <div class="grid grid-rows-1 gap-4">
      <div class="">
        <div class="form-group">
          <label class="text-size[14px] text-[--color-gray-400] block mb-1">  Data type </label>
          <p-select [options]="dataType" [(ngModel)]="cardInfo.title" optionLabel="title" optionValue="title" class="w-full" />
        </div>
      </div>
      <div class="">
        <label class="text-size[14px] text-[--color-gray-400] block mb-1"> Personas </label>
        <p-multiselect
          [options]="Personas"
          [(ngModel)]="cardInfo.persona"
          optionLabel="title"
          optionValue="title"
          styleClass="w-full "
        />
      </div>
      <div class="">
        <label class="text-size[14px] text-[--color-gray-400] block mb-1"> Roles </label>
        <p-multiselect
          [options]="roles"
          [(ngModel)]="cardInfo.role"
          optionLabel="title"
          optionValue="title"
          styleClass="w-full "
        />
      </div>
      <div>
        <label class="text-size[14px] text-[--color-gray-400] block mb-1">Background color</label>
        <input
          type="color"
          class="w-full border   "
          [(ngModel)]="cardInfo.color"
        />
      </div>
    </div>
  </div>
  <div class=" border-t-[1px] border-solid border-[#ccc]">
  
   <div class="flex justify-end px-3 gap-3 items-center">
    <button
    (click)="visible = false"
    type="button"
    class="min-w-[83px] h-[35px] text-white bg-[--color-gray-500] rounded-[6px]   mt-2"
  >
  <i class="fa-solid fa-circle-xmark"></i>
    Cancel
  </button>
  <button
  (click)="editCardSettings()"
    type="button"
    class="min-w-[83px] h-[35px] text-white bg-[--color-light-green-300] rounded-[6px]   mt-2"
  >
  <i class="fa-solid fa-floppy-disk"></i>
    Save
  </button>
   </div>
  </div>
</div>
 

</p-drawer>
