
:root{
--color-yello-100: #FFF5E0;
--color-yello-400: #FFA800;



--color-blue-100: #E8EDF2; 
--color-blue-200: #4B88BC; 
--color-blue-300: #39AFD1; 
--color-blue-700: #384E64; 

--color-light-blue-100: #E7F5FA; 


--color-light-green-100: #1BC5BD; 
--color-light-green-200: #E3F8F7; 
--color-light-green-300: #4CAAAA; 
 

--color-gray-100:#646567;
--color-gray-200:#697171;
--color-gray-250:#576A7C;
--color-gray-300:#72818F;
--color-gray-400:#708790;
--color-gray-500:#6c757d;

}