@mixin flex($just: center, $align: center, $flow: row nowrap){
    display: flex;
    flex-flow: $flow;
    justify-content: center;
    align-items: center;
}

@mixin grid($col: 1fr, $row: auto, $align: center, $just: center){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-items: $just;
    align-items: $align;
}