<div class="wrapper dynamic-tabs-container">
  <div id="btn-add-tab" title="Add new tab"><i class="fas fa-plus cursor-pointer " (click)="addTab()"></i></div>
  <div class="scroller scroller-left" style="display: none">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="scroller scroller-right" style="display: flex">
    <i class="fa fa-chevron-right" (click)="scrollLeft()"></i>
  </div>
  <nav
    class="nav nav-tabs list dynamic-tabs"
    id="scrollable-list"
    role="tablist"
    style="left: 0px"
  >
  @for(tab of tabs(); track $index) {

    <a class="nav-item nav-link" [ngClass]="{'active': $index == activeTabIndex}"  role="tab"
    (click)="activeTabIndex = $index"
    ><i class="{{tab.icon}} mr-1"></i>
    <input type="text" *ngIf="EditedTab ==  $index" class="!bg-none border-none inline-block min-w-[90px] "   [(ngModel)]="tab.title" [disabled]="EditedTab != $index" (blur)="EditedTab = null">
    <span class="tab-txt" *ngIf="EditedTab == null">{{tab.title}}</span>
    <i title="Edit title" class="action fas fa-pen edit" (click)="EditedTab = $index"></i>
    <i title="Personas" class="action fas fa-users-cog roles" (click)="EditedTabDataIndex=$index;editTabData = tab;visible = true"></i>
    <i title="Remove" class="action fas fa-times close" (click)="deleteTab($index)"></i
  ></a>
  }
  </nav>
</div>


<p-drawer
  [(visible)]="visible"
  header=""
  [position]="translateService.lang() == 'ar' ? 'right' : 'left'"
  [closeOnEscape]="false"
  [closable]="false"
  styleClass="!w-full md:!w-80 lg:!w-[30rem] "
  [showCloseIcon]="false"
  [closable]="false"
  [dismissible]="false"

>
<div class="flex flex-col justify-between h-[100%] gap-5   w-full">
  <div class=" drawer-header">
    <div class="h-[260px]">

      <h5 class="text-[16px] font-bold text-[--color-blue-700] p-3 text-white"   >Personas Settings</h5>
    </div>
  </div>
  <div class="mx-3">
    <div class="grid grid-rows-1 gap-4">
    
      <div class="">
        <label class="text-size[14px] text-[--color-gray-400] block mb-1"> Personas </label>
        <p-multiselect
          [options]="Personas"
          [(ngModel)]="editTabData.personas"
          optionLabel="title"
          optionValue="title"
          styleClass="w-full "
        />
      </div>
      <div class="">
        <label class="text-size[14px] text-[--color-gray-400] block mb-1"> Roles </label>
        <p-multiselect
          [options]="roles"
          [(ngModel)]="editTabData.role"
          optionLabel="title"
          optionValue="title"
          styleClass="w-full "
        />
      </div> 
    </div>
  </div>
  <div class=" border-t-[1px] border-solid border-[#ccc]">
  
   <div class="flex justify-end px-3 gap-3 items-center">
    <button
    (click)="visible = false"
    type="button"
    class="min-w-[83px] h-[35px] text-white bg-[--color-gray-500] rounded-[6px]   mt-2"
  >
  <i class="fa-solid fa-circle-xmark"></i>
    Cancel
  </button>
  <button
  (click)="saveTabData()"
    type="button"
    class="min-w-[83px] h-[35px] text-white bg-[--color-light-green-300] rounded-[6px]   mt-2"
  >
  <i class="fa-solid fa-floppy-disk"></i>
    Save
  </button>
   </div>
  </div>
</div>
 

</p-drawer>